.currentWeather{
    display: grid;
    grid-template-columns: 5% 10% 5% 80%;
    grid-template-rows: 20% 60% 20%;
    min-height: 440px;
}

.currentWeather .tempBox{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 0 35px 35px 0;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(160deg, #5374E7 0%, #77B9F5 100%);
    box-shadow: 5px 10px 20px 0 rgba(0,0,0,0.17);

}

.currentWeather .temperature{
    color: white;
    font-size:50px;
    font-weight: bold;
}

.currentWeather .mainBox{
    border-radius: 25px;
    padding: 1.5rem 5rem;
    grid-column-start: 2;
    grid-column-end:5;
    grid-row-start: 1;
    grid-row-end: 4;
    box-shadow: 5px 10px 20px 0 rgba(0,0,0,0.5);
    background-image: url('../../assets/background.jpg');
    background-position: 5% 25%;
    background-size: 130%;
    background-repeat: no-repeat;
}
.currentWeather .contentBox{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.currentWeather h2{
    font-size: 32px;
    font-weight: 600;
    color: #01175F;
    line-height: 48px;
}

.currentWeather .date {
    font-size: 20px;
    font-weight: 500;  
    color: #01175F; 
    line-height:18px;
    margin-top: 10px;
}

.currentWeather .forecast{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #01175F;
    line-height: 18px;
}